*{
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}
#textArea{
	width:100vw;
	margin:0;
	height:90vh;
	border:1px solid black;
	user-select: none;
	font-size:20px;
}
#msgBar{
	font-size: 30px;
	width:79vw;
	height:10vh;
	margin:0;
	display:inline-block;
	float:left;
	border:none;
	z-index: 1;
	outline: none

}
#messages{
	list-style: none;
}
#sendBtn{
	display:inline-block;
	color:black;
	background-color:#A3E4D7;
	font-size:2vw;
	border:none;
	transition:0.2s linear;
	height:10vh;
	width:19vw;
	float:right;
	z-index:1;
}
#sendBtn:hover{
	background-color:#1ABC9C;
	color:white;
}
#heading2{
	font-size:40px;
	font-weight: 300;
	
}