*{
	font-family: 'Poor Story', cursive!important;
}
body{
	overflow: hidden;
	background-color:white;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #ABB2B9; 
}
::-webkit-scrollbar-thumb {
    background: #ffffff; 
}
#name{
	text-transform: uppercase;
	width:100vw;
	text-align:center;
	margin:0;
}
#name h2{
	font-size:3vw;
}
#textArea{
	width:99.5vw;
	margin:0;
	padding:0;
	height:92vh;
	user-select: none;
	font-size:2vw;
	overflow-y:scroll;
	overflow-x:hidden

}
#msgBar{
	font-size: 30px;
	width:77vw;
	height:8vh;
	float:left;
	border:none;
	z-index: 1;
	outline: none;
	padding:0;

}
#messages{
	line-height:3vw;
}
#sendBtn{
	cursor:pointer;
	border:none;
	height:8vh;
	width:18vw;
	float:right;
	font-size:40px;
	letter-spacing: 5px;
	background-color:white;
	outline:none;
	margin:0;
	padding:0;
}
#heading2{
	font-size:40px;
	font-weight: 300;
	margin:0;
	padding:0;
	
}
